// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~material-design-icons/iconfont/material-icons.css';

@import "sidebar";

@import "pages";

body{
    background-color: #f8f8f8;
}

.btn{
    border-radius: 0%;
}

.btn-red{
    background-color: #ff0125;
    color: #ffffff;
}
.btn-red:hover{
    color: #ffffff !important;
}
.btn-red-50{
    background-color: rgba(255, 1, 37, 0.5);
}
.btn-red-50:hover{
    background-color: rgba(255, 1, 37, 1);
}
.bg-red{
    background-color: #ff0125;
}
.bg-red-50{
    background-color: rgba(255, 1, 37, 0.5);
}

.text-red{
    color: #ff0125;
}

.btn-icon-sm {
    width: 25px;
    height: 25px;
    line-height: 1px;
    border-radius: 50px;
}

.nav-link-custom{
    background-color: rgba(255, 1, 37, 0.5);
    color: #ffffff;
}

#profileNav button:before {
    content: "";
    padding-top: 50%;
    border: 0px !important;
    margin: 0px !important;
}

th.twoTitle {
    width: 150px;
    height: 85px;
}

th.twoTitle span {
    display: block;
    width: 100%;
    height: 50%;
}

th.twoTitle span.bottom {
    padding-top: 15%;
    text-align: right;
}

.twoTitle hr {
    transform: rotate(-34deg) scale(1.5);
    display: block;
    border-color: #333;
    margin: 0px;
}

#login {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div#profileNav button {
    color: #333;
    background-color: #bcbcbc;
    font-size: 30px;
    padding: 0px 15px;
}

.card-header-custom {
    background-color: #ededef;
    color: #0070cc;
}
.card-body-custom {
    background: rgba(219,223,224,1);
    background: -moz-linear-gradient(top, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,223,224,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(219,223,224,1)));
    background: -webkit-linear-gradient(top, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    background: -o-linear-gradient(top, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    background: linear-gradient(to bottom, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdfe0', endColorstr='#dbdfe0', GradientType=0 );
}

.bg-custom{
    background: rgba(219,223,224,1);
    background: -moz-linear-gradient(top, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,223,224,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(219,223,224,1)));
    background: -webkit-linear-gradient(top, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    background: -o-linear-gradient(top, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    background: linear-gradient(to bottom, rgba(219,223,224,1) 0%, rgba(255,255,255,1) 50%, rgba(219,223,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdfe0', endColorstr='#dbdfe0', GradientType=0 );
    min-height: 85vh;
}

.icon-profile {
    font-size: 55px;
    text-align: center;
    padding: 0px 20px;
    background-color: #c2c2c2;
}

i.grafico {
    background-color: rgb(255 1 37 / 50%);
    color: #ffffff;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
}

span.relative_value {
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    color: #807575;
}

#dashboard .card {
    border-radius: 8px;
    .card-body:before {
        content: "";
        position: absolute;
        width: 100%;
        background-color: #ff0125;
        height: 5px;
        top: 0%;
        left: 0%;
    }
}

#dashboard .card {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

span.text-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.full{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
}
.bg-red-special{
    background: rgba(141,32,29,1);
    background: -moz-linear-gradient(-45deg, rgba(141,32,29,1) 0%, rgba(247,4,36,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(141,32,29,1)), color-stop(100%, rgba(247,4,36,1)));
    background: -webkit-linear-gradient(-45deg, rgba(141,32,29,1) 0%, rgba(247,4,36,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(141,32,29,1) 0%, rgba(247,4,36,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(141,32,29,1) 0%, rgba(247,4,36,1) 100%);
    background: linear-gradient(135deg, rgba(141,32,29,1) 0%, rgba(247,4,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d201d', endColorstr='#f70424', GradientType=1 );
}

.btn-dark-blue{
    background-color: #105c90;
    color: #fff;
}

.bg-line {
    position: fixed;
    width: 200vw;
    height: 200vh;
    transform: rotate(25deg);
    top: 0vw;
    left: 45vw;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #333333;
    background-color: #ffffff;
    border-color: #dee2e6 #dee2e6 #f8fafc;
}

#actionsDofa {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 50px;
    left: 0px;
    z-index: 100;
}

.form-check{
    padding-left: 2px;
}

.form-check input {
    display: none;
}

.form-check input:checked + label:before{
    background-color: #ff0125;
    content: "check";
}

.form-check label{
    cursor: pointer;
    padding-top: 0.5rem;
}

.form-check label:before {
    content: "";
    width: 25px;
    height: 25px;
    border: 1px solid #ff0125;
    display: inline-block;
    border-radius: 50px;
    vertical-align: middle;
    font-family: 'Material Icons';
    line-height: 1.5rem;
    color: #ffffff;
    text-align: center;
    transition: all 1s;
    font-weight: bold;
}

@media (min-width: 992px){
    .container {
        max-width: 760px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 780px) {
    .text-md-dark{
        color: #333 !important;
    }
}
/*
    tamaño de letra
*/
@for $i from 1 through 35 {
    .font-size-#{$i} {
        font-size: #{$i}px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


[data-type="upload"] input {
    opacity: 0;
}

[data-type="upload"] {
    width: 100%;
    height: 150px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    position: relative;
}

[data-type='upload'] span {
    width: 100%;
    display: block;
    text-align: center;
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 40%;
}
