<template>
    <div class="select-user">
        <p class="form-control px-1 m-0" @click="show = !show">
            {{ value != undefined ? value.name : "" }}
            <span class="float-right material-icons">
                keyboard_arrow_down
            </span>
        </p>
        <ul class="select-list" :class="{show: show}">
            <li>
                <input type="text" class="form-control" autocomplete="off" placeholder="Buscar..." v-model="find">
            </li>
            <template v-for="(office, key) in filterOffices">
                <li>
                    <button type="button" class="btn text-left w-100" @click="setValue(office)">{{ office.name }}</button>
                </li>
            </template>
            <li v-if="offices.length == 0">
                Sin resultados
            </li>
        </ul>
    </div>
</template>

<script>
import Axios from 'axios';

export default {
    name: "selectOffice",
    data(){
        return {
            offices: [],
            select: 0,
            find: "",
            show: false
        }
    },
    props: {
        "value" : {
            type: Object
        },
        "area" : {
            type: Number
        }
    },
    methods: {
        async getOffices(){
            let now = new Date();
            let cache = localStorage.getItem('officesList');
            if(cache === undefined || cache === null) {
                await Axios.get("/api/offices/json", {
                    headers: {
                        Accept: 'application/json',
                        Authorization: 'Bearer ' + localStorage.autenticate_token
                    }
                }).then(response => {
                    this.offices = response.data;
                    localStorage.setItem('officesList', JSON.stringify({
                        offices: response.data,
                        expire: now.getTime() + 15000
                    }));
                }).catch(error => {
                    this.$emit("error");
                })
            }else{
                cache = JSON.parse(cache);
                if(cache.expire >= now.getTime()){
                    localStorage.removeItem('officesList');
                    this.getOffices();
                }else{
                    this.offices = cache.offices;
                }
            }
        },
        setValue(office){
            this.$emit("input", office);
        }
    },
    computed: {
        filterOffices(){
            return this.offices.filter(office => {
                return office.name.toLowerCase().indexOf(this.find.toLowerCase()) >= 0;
            });
        }
    },
    watch: {
        value(value){
            this.$emit("input", value);
            this.show = false;
        }
    },
    mounted() {
        this.getOffices();
    }
}
</script>

<style scoped>
    .select-user{
        position: relative;
        cursor: pointer;
    }
    ul{
        list-style: none;
        padding: 0px;
        position: absolute;
        width: 100%;
        border: 1px solid #dee2e6;
        border-top: 0px;
        opacity: 0;
        transition: all 1s;
        pointer-events: none;
        background-color: #fff;
        z-index: 10;
        max-height: 150px;
        overflow: auto;
    }
    ul.show{
        opacity: 1;
        pointer-events: all;
    }
    .select-user p {
        white-space: nowrap;
        overflow: hidden;
    }
</style>
